@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

#title {
  text-align: center;
  font-size: 1.5em;
}

#mainThing {
  margin: auto;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
  border: 3px solid green;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

/*MOVING BACKGROUND*/

.wrapper {
  animation: scroll 70s linear infinite;
  background-image: url('../src/background/background1.png');
  height: 100vh;
  min-width: 360px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

#main{
  font-family: 'Patua One';
  font-size: 70px;
  text-align: center;
  background: white;
  border-radius: 25px;
  padding: 2%;
  border: 3px solid black;
  min-width:85%;
  max-width: 85%;
  min-height:85%;
  max-height: 85%;
}

/* CSS */
.button {
  font-family: 'Patua One';
  min-width: 100%;
  height: 300px;
  max-height: 100%;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(244, 237, 237);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  color: red;
  background:#3453f0
}

#center{
  justify-content: center
}

#space {
  width: 5px;
}

.genderBtn {
  min-width: 100%;
  height: 300px;
  max-height: 100%;
  margin: 1%;
}

.genderBtn:hover {
  cursor: pointer;
  border: 3px black solid;
  -webkit-box-shadow: inset 3px 3px 20px #333;
  -moz-box-shadow:    inset 3px 3px 20px #333;
  box-shadow:         inset 3px 3px 20px #333;
}

#girlBtn:hover {
  background: rgb(205, 155, 255);
}

#boyBtn:hover {
  background: rgb(255, 252, 155);
}